:root{
    --gutter: 1rem; 
}

.battleFieldContainer{
    background-image: url("../../public/Images/Battlefield.png"); 
    background-size: cover;
    background-repeat: no-repeat, repeat;
    height: 100%;
    width: 100%;
    padding: var(--gutter);
}

@media (max-width: 40em){
    .battleFieldContainer{
        height: 100vh;
        background-image: url("../../public/Images/Battlefield.png"); 
        background-size: cover;
        background-repeat: no-repeat, repeat;
        width: 100%;
        padding: var(--gutter);
    }
}

.battleGrid{
    display: grid; 
    grid-template-columns: 1fr 2fr 1fr;
    gap:var(--gutter); 
    grid-template-areas:
    "topLeft rivalScore topRight"
    "midLeft1 mid1 midRight1"
    "midLeft2 mid2 midRight2"
    "bottomLeft playerScore bottomRight"
}

.battleGridSmall {
    display: grid; 
    grid-template-columns: 1fr;
    gap:var(--gutter); 
    grid-template-areas: 
    "rivalScore"
    "rivalPokemon"
    "gameArea"
    "playerPokemon"
    "playerScore"   
}

.rivalPokemon {
    grid-area: rivalPokemon;
}

.playerPokemon {
    grid-area: playerPokemon;
}

.gameArea {
    grid-area: gameArea; 
}

.topLeft{
    grid-area: topLeft;
}

.rivalScore{
    grid-area: rivalScore;
}

.topRight{
    grid-area: topRight;
    grid-row-start: topRight;
    grid-row-end: midRight1;
}

.midLeft1 {
    grid-area: midLeft1;
}

.mid1 {
    grid-area: mid1;
    grid-row-start: mid1; 
    grid-row-end: mid2; 
}

.midRight1 {
    grid-area: midRight1;
}

.midLeft2 {
    grid-area: midLeft2;
    grid-row-start:midLeft2; 
    grid-row-end:bottomLeft;
}

.mid2 {
    grid-area: mid2;
}

.midRight2 {
    grid-area: midRight2;
}

.bottomLeft{
    grid-area: bottomLeft;
}

.playerScore {
    align-self: end;
    grid-area: playerScore;
}

.bottomRight {
    grid-area: bottomRight; 

}

.pokeballCenter {
    object-fit: cover;
    width: 10rem;
}

.pulse-base {
    position: relative;
    height: 12em;
    width: 12em;
    border: 15px solid rgb(99, 99, 99);
    opacity: 0.9;
    border-radius: 50%;
    margin: 0 auto;
}
  .pulse-base:before {
    content:"";
    border: 15px solid rgba(252, 252, 252, 0.3);
    border-radius: 50%;
    height: 12em;
    width: 12em;
    position: absolute;
    left: -15px;
    bottom: -15px;
    animation: pulsate 1.6s ease-out;
    animation-iteration-count: infinite; 
    opacity: 0.0;
    z-index: 99;
}

@keyframes pulsate {
    0% {transform: scale(0.6, 0.6); opacity: 0.0;}
    50% {opacity: 1.0;}
    100% {transform: scale(1, 1); opacity: 0.0;}
}
