:root{
    --gutter: 1rem; 
}

.battleFieldContainer{
    background-image: url("../../public/Images/Battlefield.png"); 
    background-size: cover;
    background-repeat: no-repeat, repeat;
    height: 100%;
    width: 100%;
    padding: var(--gutter);
}

@media (max-width: 40em){
    .battleFieldContainer{
        height: 100vh;
        background-image: url("../../public/Images/Battlefield.png"); 
        background-size: cover;
        background-repeat: no-repeat, repeat;
        width: 100%;
        padding: var(--gutter);
    }
}

.battleGrid{
    display: grid; 
    grid-template-columns: 1fr 2fr 1fr;
    gap:var(--gutter); 
    grid-template-areas:
    "topLeft rivalScore topRight"
    "midLeft1 mid1 midRight1"
    "midLeft2 mid2 midRight2"
    "bottomLeft playerScore bottomRight"
}

.battleGridSmall {
    display: grid; 
    grid-template-columns: 1fr;
    gap:var(--gutter); 
    grid-template-areas: 
    "rivalScore"
    "rivalPokemon"
    "gameArea"
    "playerPokemon"
    "playerScore"   
}

.rivalPokemon {
    grid-area: rivalPokemon;
}

.playerPokemon {
    grid-area: playerPokemon;
}

.gameArea {
    grid-area: gameArea; 
}

.topLeft{
    grid-area: topLeft;
}

.rivalScore{
    grid-area: rivalScore;
}

.topRight{
    grid-area: topRight;
    grid-row-start: topRight;
    grid-row-end: midRight1;
}

.midLeft1 {
    grid-area: midLeft1;
}

.mid1 {
    grid-area: mid1;
    grid-row-start: mid1; 
    grid-row-end: mid2; 
}

.midRight1 {
    grid-area: midRight1;
}

.midLeft2 {
    grid-area: midLeft2;
    grid-row-start:midLeft2; 
    grid-row-end:bottomLeft;
}

.mid2 {
    grid-area: mid2;
}

.midRight2 {
    grid-area: midRight2;
}

.bottomLeft{
    grid-area: bottomLeft;
}

.playerScore {
    align-self: end;
    grid-area: playerScore;
}

.bottomRight {
    grid-area: bottomRight; 

}
