.battleFieldContainer{
    background-image: url("../../public/Images/Battlefield.png"); 
    background-size: cover;
    background-repeat: no-repeat, repeat;
    height: 80vh;
    width: 100%;
    opacity: 0.5

}

$breakpoint-phone: 40em;
@media (max-width: $breakpoint-phone){
    .battleFieldContainer{
        height: 100vh;
        background-image: url("../../public/Images/Battlefield.png"); 
        background-size: cover;
        background-repeat: no-repeat, repeat;
        width: 100%;
    }
}

.battleFieldGrid{
    display: grid;
}
