.play{

    width: 100%;

    position: relative;
    margin-top: 3.125rem;

    display: flex;
    flex-direction: column;

    .triangle{
        position: absolute;
        align-self: center;
        margin-top: 4.375rem;
    }
}