.pokemonBigScreen{
    object-fit: cover;
    width: 25em;
}

.pokemonSmallScreen{
    object-fit:cover; 
    width: 15em; 
}

.playButtonBigScreen {
    object-fit:cover; 
    width: 12em; 
}

.playButtonSmallScreen {
    object-fit:cover; 
    width: 5em; 
}

.animationMoveUp{
    position: relative;
    animation: diagonal-move-anim-up 1s linear;
}
@keyframes diagonal-move-anim-up {

    0% {
        transform: translatex(0px) translatey(0px);
    }
    50% {
        transform: translatex(350px) translatey(-350px) scale(1) rotate(40deg);
    }
    100%{
        transform: translatex(0px) translatey(0px);
    }
}

.animationMoveDown{
    position: relative;
    animation: diagonal-move-anim-down 1s linear;
}
@keyframes diagonal-move-anim-down {

    0% {
        transform: translatex(0px) translatey(0px);
    }
    50% {
        transform: translatex(-350px) translatey(350px) scale(1) rotate(-40deg);
    }
    100% {
        transform: translatex(0px) translatey(0px);
    }
}

.animationMoveVerticalDown{
    position: relative;
    animation: diagonal-move-anim-vertical-down 1s linear;
}
@keyframes diagonal-move-anim-vertical-down {

    0% {
        transform: translatex(0px) translatey(0px);
    }
    50% {
        transform: translatex(0px) translatey(200px) scale(1) rotate(-30deg);
    
    }
    100% {
        transform: translatex(0px) translatey(0px);
    }
}

.animationMoveVerticalUp{
    position: relative;
    animation: diagonal-move-anim-vertical-up 1s linear;
}
@keyframes diagonal-move-anim-vertical-up {

    0% {
        transform: translatex(0px) translatey(0px);
    }
    50% {
        transform: translatex(0px) translatey(-200px) scale(1) rotate(30deg);
 
    }
    100% {
        transform: translatex(0px) translatey(0px);
    }
}